{% load static %}
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css"
      href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css"/>
<script type="text/javascript"
        src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<!-- main -->
<link rel="stylesheet" type="text/css"
      href="{% static "css/filebrowser.css" %}"/>
{#<script type="text/javascript"#}
{#        src="{% static "js/filebrowser.js" %}"></script>#}