{% load s3-tags %}
{% load i18n %}
<div class="pb-filemng-template">
    <div class="row">
        <div class="col-sm-12">
            <!--File MAnager-->
            <nav class="navbar navbar-default pb-filemng-navbar">
                <div class="container-fluid">
                    <!-- Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="pull-left navbar-toggle collapsed treeview-toggle-btn"
                                data-toggle="collapse" data-target="#treeview-toggle" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#options" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-gears"></span>
                        </button>

                        <!-- Search button -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#pb-filemng-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-share"></span>
                        </button>
                    </div>

                    <ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="options">
                        <li><a href="javascript:;"><span class="fa fa-lg fa-refresh"
                                                         onclick="refresh_folder();"
                                                         title="{% trans "Refresh Folder" %}"></span></a></li>
                        <li><a href="javascript:;"><span class="fa fa-lg fa-sort-alpha-asc "
                                                         onclick="sort_a_z(this);" data-sort="a-z"
                                                         title="{% trans "Sort Files" %}"></span></a></li>
                        <li><a href="#"><span class="fa fa-folder fa-lg" data-toggle="collapse"
                                              data-target="#collapseCreateFolder"
                                              title="{% trans "Create Folder" %}"></span></a></li>
                        <li><a href="#"><span class="fa fa-upload fa-lg" data-toggle="collapse"
                                              data-target="#collapseUpload" title="{% trans "Upload" %}"></span></a>
                        </li>
                        <li><a href="javascript:;" onclick="download_files();"><span class="fa fa-download fa-lg"
                                                                                     title="{% trans "Download Selected File" %}"></span></a>
                        </li>
                        <li><a href="javascript:;" onclick="copy_selected_file();"><span class="fa fa-lg fa-files-o"
                                                                                         title="{% trans "Copy Select Files" %}"></span></a>
                        </li>
                        <li><a href="javascript:;"><span class="fa fa-lg fa-trash-o" id="move_file"
                                                         onclick="delete_file();"
                                                         title="{% trans "Delete  Select Files" %}"></span></a></li>
                        <li><a href="javascript:;"><span class="fa fa-lg fa-clipboard hidden" id="paste_file"
                                                         onclick="paste_file();"
                                                         title="{% trans "Paste Select Files" %}"></span></a></li>
                        <li><a href="javascript:;"><span class="fa fa-lg fa-arrows-alt hidden" id="move_file"
                                                         onclick="move_selected_file();"
                                                         title="{% trans "Move  Select Files" %}"></span></a></li>
                    </ul>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="pb-filemng-navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="javascript:;" id="top_folder" data-top_folder="-" onclick="back_folder(this);"><span
                                    class="fa fa-chevron-left fa-lg"></span></a></li>
                            <li class="pb-filemng-active"><a href="javascript:;" onclick="get_files('-');"><span
                                    class="fa fa-home fa-lg"></span></a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container-fluid -->
            </nav>
            <div class="panel panel-default">
                <!--Create Folder-->
                <div class="collapse" id="collapseCreateFolder">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input class="form-control" id="created_folder_name"
                                           placeholder="{% trans "Folder Name" %}">
                                </div>
                                <button type="button" class="btn btn-sm btn-primary"
                                        onclick="create_folder()">{% trans "Create" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--File Upload-->
                <div class="collapse" id="collapseUpload">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- Standar Form -->
                            <h4>{% blocktrans %}Select files from your computer{% endblocktrans %}</h4>
                            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="file" name="files[]" id="js-upload-files" multiple>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            id="js-upload-submit">{% trans "Upload files" %}
                                    </button>
                                </div>
                            </form>

                            <!-- Drop Zone -->
                            <h4>{% blocktrans %}Or drag and drop files below{% endblocktrans %}</h4>
                            <div class="upload-drop-zone" id="drop-zone">
                                {% blocktrans %}Just drag and drop files here{% endblocktrans %}
                            </div>

                            <!-- Progress Bar -->
                            <div class="progress">
                                <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0"
                                     aria-valuemax="100" style="width: 0%;">
                                    <span id="progress-bar-rate" style="color: black;" class="">0</span>
                                    <span style="color: black;" class="">{% trans "Complete" %}</span>
                                </div>
                            </div>

                            <!-- Upload Finished -->
                            <div class="js-upload-finished" id="js-upload-finished">
                                <h3>{% trans "Processed files" %}</h3>
                                <div class="list-group" id="js-upload-finished-list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body pb-filemng-panel-body">
                    <div class="row">
                        <div class="col-sm-12 pb-filemng-template-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="location" data-location="-"></div>
</div>
<script>
    +function ($) {
        'use strict';

        // UPLOAD CLASS DEFINITION
        // ======================

        var dropZone = document.getElementById('drop-zone');
        var uploadForm = document.getElementById('js-upload-form');

        var startUpload = function (files) {
            var loc = $('#location').attr("data-location");
            $.each(files, function (key, file) {
                var data = new FormData();
                data.append("file", file);
                data.append("loc", loc);
                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        // Upload progress
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total * 100 | 0);
                                var progress_bar = document.getElementById("progress-bar");
                                var progress_bar_rate = document.getElementById("progress-bar-rate");
                                progress_bar.style.width = percentComplete + '%';
                                progress_bar_rate.innerHTML = percentComplete + ' % ' + file.name;
                            }
                        }, false);
                        return xhr;
                    },
                    url: '{% url "upload" %}',
                    contentType: false,
                    type: 'POST',
                    dataType: 'json',
                    processData: false,
                    data: data,
                    success: function (resultData) {
                        document.getElementById("js-upload-finished-list").innerHTML += '<a href="#" ' +
                            'class="list-group-item list-group-item-success">' +
                            '<span class="badge alert-success pull-right"' +
                            '>{% trans "Success" %}</span>' + file.name + '</a>';

                    },
                    error: function (resultData) {
                        document.getElementById("js-upload-finished-list").innerHTML += '<a href="#" ' +
                            'class="list-group-item list-group-item-danger">' +
                            '<span class="badge alert-danger pull-right"' +
                            '>{% trans "Fail" %}</span>' + file.name + '</a>';
                    }
                });
            });
            get_files(loc);
        };

        uploadForm.addEventListener('submit', function (e) {
            var uploadFiles = document.getElementById('js-upload-files').files;
            e.preventDefault();
            startUpload(uploadFiles);
        });

        dropZone.ondrop = function (e) {
            e.preventDefault();
            this.className = 'upload-drop-zone';
            startUpload(e.dataTransfer.files)
        };

        dropZone.ondragover = function () {
            this.className = 'upload-drop-zone drop';
            return false;
        };

        dropZone.ondragleave = function () {
            this.className = 'upload-drop-zone';
            return false;
        }

    }(jQuery);
</script>
<script>
    $(document).ready(function () {
        get_files("-");
    });

    var selected_file_list = [];
    var copy_selected_file_list = [];
    var sort_a_z_value = true;

    function create_folder() {
        var loc = $('#location').attr("data-location");
        var folder_name = $('#created_folder_name').val();
        data = {"folder_name": folder_name, 'loc': loc};
        $.ajax({
            url: '{% url "create_folder" %}',
            type: 'POST',
            dataType: 'json',
            data: data,
        });
        $('#collapseCreateFolder').collapse("hide");
        get_files(loc);
    }

    function sort_a_z(d) {
        loc = $('#location').attr("data-location");
        $(d).toggleClass('fa-sort-alpha-desc');
        if ($(d).attr("data-sort") === "a-z") {
            $(d).attr("data-sort", "z-a");
            sort_a_z_value = false;
        } else {
            $(d).attr("data-sort", "a-z");
            sort_a_z_value = true;
        }
        get_files(loc);
    }

    function select_file(d) {
        $(d).find('.check-file').toggleClass('fa-check');
        $(d).parent().siblings().find('.check-file').removeClass('fa-check');
        var file_item = $(d).find('.location-info').text();
        if (selected_file_list.indexOf(file_item) !== -1) {
            selected_file_list.splice(selected_file_list.indexOf(file_item), 1)
        } else {
            selected_file_list.push(file_item);
        }
    }

    function copy_selected_file() {
        copy_selected_file_list = selected_file_list;
        $('#paste_file').removeClass('hidden');
        $('#move_file').removeClass('hidden');
    }


    function paste_file() {
        loc = $('#location').attr("data-location");
        $('#paste_file').toggleClass('hidden');
        $('#move_file').toggleClass('hidden');
        data = {'loc': loc, 'file_list': copy_selected_file_list};
        $.ajax({
            url: '{% url "paste_file" %}',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (resultData) {
                copy_selected_file_list = [];
                get_files(loc);
            },
        });
    }


    function delete_file() {
        loc = $('#location').attr("data-location");
        data = {'file_list': selected_file_list};
        $.ajax({
            url: '{% url "delete_file" %}',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (resultData) {
                get_files(loc);
            },
        });
    }


    function refresh_folder() {
        get_files($('#location').attr("data-location"));
    }

    {#    item detail#}

    function open_item(d) {
        url = d.getAttribute("data-url");
        type = d.getAttribute("data-type");
        if (type === 'folder') {
            get_files("-" + url)
        } else {
            window.open(url, '_blank');
        }

    }

    {#back top folder#}

    function back_folder(d) {
        var loc = d.getAttribute('data-top_folder');
        get_files(loc);
        $('#location').attr("data-location", loc);
        var top_loc = "";
        var loc_array = loc.split('/');
        for (var i = 0; i < loc_array.length - 2; i++) {
            top_loc = top_loc + loc_array[i] + "/"
        }
        if (1 > top_loc.length) {
            top_loc = "-"
        }
        $('#top_folder').attr("data-top_folder", top_loc);
    }

    {#    "fetch the directories within the selected folder" #}

    function get_files(main_folder) {
        selected_file_list = [];
        $('#top_folder').attr("data-top_folder", $('#location').attr("data-location"));
        $('#location').attr("data-location", main_folder);
        $(".pb-filemng-template-body").empty();
        var get_files_url = "{% url 'get_folder_items' "arg1djs3server" "sort_a_z" %}".replace(/arg1djs3server/, main_folder.toString()).replace(/sort_a_z/, sort_a_z_value);
        $.getJSON(
            get_files_url, function (files_list) {
                for (var key in files_list) {
                    target = "";
                    if ('folder' != files_list[key].type) {
                        target = 'target="_blank"';
                    }
                    $(".pb-filemng-template-body").append(
                        '<div class="col-sm-2 pb-filemng-body-folders" onClick="select_file(this);" ondblclick="open_item(this);" ' +
                        'data-toggle="tooltip" ondrop="drop_file(event)" ondragover="allowDrop_file(event)" ondragstart="dragstart_file(event)" ondragend="dragend_file(event)" draggable="true" title="' + files_list[key].text +
                        '" data-url="' + files_list[key].url + '" data-type="' + files_list[key].type + '">' +
                        '<img src="' + files_list[key].icon + '"/></a>' + '<br />' +
                        '<p class="pb-filemng-paragraphs" onClick="rename_file_onfocus(this);"  >' + files_list[key].text + '</p>' +
                        '<input  type="text" class="form-control hidden rename-input" onfocusout="rename_file_onfocusout(this);" value="' + files_list[key].text + '">' +
                        '<span class="fa check-file"></span>' +
                        '<span class="hide location-info">' + main_folder + files_list[key].text + '</span>' +
                        '</div>'
                    );
                }
                if (1 > files_list.length) {
                    $(".pb-filemng-template-body").append('<p style="text-align:center">{% trans "Folder is Empty" %}</p>');
                }
            });
    }

    function download_files() {
        for (var key in selected_file_list) {
            window.open("{% url 'download' %}" + "?file=" + selected_file_list[key], "_blank");
        }
    }

    {#rename item focus#}

    function rename_file_onfocus(d) {
        $(d).parent().find('.rename-input').removeClass('hidden');
        $(d).parent().find('.rename-input').focus();
        $(d).toggleClass('hidden');
    }

    {#rename item focusout#}

    function rename_file_onfocusout(d) {
        var file = $(d).parent().find('.pb-filemng-paragraphs').html();
        var loc = $('#location').attr("data-location");
        var new_name = $(d).val();
        data = {'loc': loc, 'file': file, 'new_name': new_name};
        $.ajax({
            url: '{% url "rename_file" %}',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (resultData) {
                $(d).parent().find('.pb-filemng-paragraphs').html(resultData);
                $(d).parent().find('.pb-filemng-paragraphs').removeClass('hidden');
                $(d).toggleClass('hidden');
            },
        });
    }

    function move_file(loc, file_list) {
        $('#move_file').toggleClass('hidden');
        $('#paste_file').toggleClass('hidden');
        data = {'loc': loc, 'file_list': file_list};
        $.ajax({
            url: '{% url "move_file" %}',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (resultData) {
                get_files($('#location').attr("data-location"));
            },
        });
    }


    function move_selected_file(d) {
        move_file($('#location').attr("data-location"), copy_selected_file_list);
    }

    {#drag and drop file for move file start#}

    function dragstart_file(e) {
        for (var key in selected_file_list) {
            $("div[title=\"" + selected_file_list[key].slice(1) + "\"]")[0].style.opacity = '0.4';
        }
    }

    function dragend_file(e) {
        for (var key in selected_file_list) {
            $("div[title=\"" + selected_file_list[key].slice(1) + "\"]")[0].style.opacity = '1';
        }
    }

    function drop_file(e) {
        e.preventDefault();
        if ($(e.target).parent().attr("data-type") === 'folder') {
            move_file("-" + $(e.target).parent().attr("title"), selected_file_list);
        }
    }

    function allowDrop_file(e) {
        e.preventDefault();
    }

    {#drag and drop file for move file end#}
</script>